@model IEnumerable<Prueba_Tecnica_Schad.Models.Product>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	<a type="button" class="btn btn-primary" asp-action="Create" class="text-white">Create New</a>
</p>
<div class="card shadow mb-4">
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary"></h6>
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table id="mytabla" class="table table-bordered dataTable">
				<thead>
					<tr>
						<th>
							@Html.DisplayNameFor(model => model.Description)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Price)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.ItbsPercentage)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.IncludesItbis)
						</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							@{
								item.ItbsPercentage = item.ItbsPercentage * 100;
							}
							<td>
								@Html.DisplayFor(modelItem => item.Description)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Price)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.ItbsPercentage)%
							</td>
							<td>
								@{
									string Mensaje = "";
									if (item.IncludesItbis)
									{
										Mensaje = "Si";
									}
									else
									{
										Mensaje = "No";
									}
								
								}
								@Mensaje
							</td>
							<td>

								<a type="button" class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id" class="text-white">Edit</a>
								<a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id" class="text-white">Delete</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

@section Scripts{

	<script type="text/javascript">
		$(document).ready(function () {
			$('#mytabla').DataTable();
		});
	</script>


	}